.panel {
	float: left;
	margin: 10px;
}

.edit-area-textarea {
	height: 300px;
	width: 400px;

}

#style-button{
	width:30px;
	height:30px;
	background:#cc0000;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;
}

.reduce-button{
	width:70px;
	height:30px;
	background:#cc0000;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;

}

.preview-display {
	height: 288px;
	width: 388px;
	border: 1px black solid;
	padding: 5px;
	margin-top: 65px;
}
